name: Build, push, and deploy

on:
  push:
    branches:
      - '*'

permissions:
  contents: read
  id-token: write

jobs:        
  build-and-push:
    name: Build and push GAR
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v6
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: nada
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build-and-push]
    steps:
      - uses: actions/checkout@v6
      - name: Deploy dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yaml
          VAR: image=${{ needs.build-and-push.outputs.image }}
      - name: Deploy prod-gcp
        uses: nais/deploy/actions/deploy@v2
        if: github.ref == 'refs/heads/main'
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais.yaml,.nais/alert.yaml
          VAR: image=${{ needs.build-and-push.outputs.image }}
